<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CompanyAttachEntityMapper">
	<resultMap id="BaseResultMap"
		type="com.maoding.org.entity.CompanyAttachEntity">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="company_id" property="companyId" jdbcType="VARCHAR" />
		<result column="file_name" property="fileName" jdbcType="VARCHAR" />
		<result column="file_type" property="fileType" jdbcType="VARCHAR" />
		<result column="file_path" property="filePath" jdbcType="VARCHAR" />
		<result column="file_group" property="fileGroup" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="seq" property="seq" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, company_id, file_name, file_type, file_path, seq,file_group,create_date, create_by,
		update_date,update_by
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from maoding_web_company_attach
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectByParamter" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from maoding_web_company_attach
		where 1=1
		<if test="companyId != null">
			and company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="fileType != null">
			and file_type=#{fileType,jdbcType=VARCHAR}
		</if>
		order by seq
		<!--<if test="limit != null">-->
			<!--limit 6-->
		<!--</if>-->
	</select>
	
	<delete id="deleteById" parameterType="java.lang.String">
		delete from maoding_web_company_attach
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteByParameter" parameterType="java.util.Map">
		delete from maoding_web_company_attach
		where 1=1
		<if test="companyId != null">
			and company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="fileType != null">
			and file_type=#{fileType,jdbcType=VARCHAR}
		</if>

		<if test="seq != null">
			and seq=#{seq,jdbcType=VARCHAR}
		</if>
	</delete>
	
	<insert id="insert"
		parameterType="com.maoding.org.entity.CompanyAttachEntity">
		insert into maoding_web_company_attach (id, company_id, file_name,seq,
		file_type, file_path, file_group,create_date,
		create_by, update_date, update_by
		)
		values (#{id,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR},
		#{fileName,jdbcType=VARCHAR},#{seq,jdbcType=INTEGER},
		#{fileType,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{fileGroup,jdbcType=VARCHAR}, now(),
		#{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateById"
		parameterType="com.maoding.org.entity.CompanyAttachEntity">
		update maoding_web_company_attach
		<set>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
				file_type = #{fileType,jdbcType=VARCHAR},
			</if>

			<if test="filePath != null">
				file_path = #{filePath,jdbcType=VARCHAR},
			</if>

			<if test="fileGroup != null" >
				file_group = #{fileGroup,jdbcType=VARCHAR},
			</if>

			<if test="seq != null and seq!=0 " >
				seq = #{seq,jdbcType=INTEGER},
			</if>
			update_date = now(),
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="update"
		parameterType="com.maoding.org.entity.CompanyAttachEntity">
		update maoding_web_company_attach
		set company_id = #{companyId,jdbcType=VARCHAR},
		file_name = #{fileName,jdbcType=VARCHAR},
		file_type = #{fileType,jdbcType=VARCHAR},
		file_path = #{filePath,jdbcType=VARCHAR},
		file_group = #{fileGroup,jdbcType=VARCHAR},
		seq = #{seq,jdbcType=INTEGER},
		update_date = now(),
		update_by = #{updateBy,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>