<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetAdminOfCompanyByUserIdMapper" >
   <resultMap id="BaseResultMap" type="com.maoding.org.dto.CompanyDTO" >
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="major_type" property="majorType" jdbcType="VARCHAR" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="main_field" property="mainField" jdbcType="VARCHAR" />
    <result column="is_authentication" property="isAuthentication" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
    <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
    <result column="company_fax" property="companyFax" jdbcType="VARCHAR" />
    <result column="server_type" property="serverType" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="business_license_number" property="businessLicenseNumber" jdbcType="VARCHAR" />
    <result column="organization_code_number" property="organizationCodeNumber" jdbcType="VARCHAR" />
    <result column="micro_url" property="microUrl" jdbcType="VARCHAR" />
    <result column="micro_template" property="microTemplate" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="company_comment" property="companyComment" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getAdminOfCompanyByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
	   SELECT
			a.id,
			company_name,
			company_short_name,
			company_type,
			server_type,
			province,
			city,
			company_phone,
			company_email,
			company_fax,
			company_address,
			file_path,
			company_comment,
			a.status
		FROM maoding_web_company a
		LEFT JOIN maoding_web_team_operater b ON a.id = b.company_id
		left join maoding_web_company_attach c on a.id = c.company_id and c.file_type = '4'
		WHERE a.status='0' and  b.user_id =  #{userId,jdbcType=VARCHAR}
  </select>
  
</mapper>