<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetCompanyForProjectStaticsMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.org.dto.CompanyDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 查找项目统计中（新增合同统计，合同回款统计）项目承接人）  -->
	<select id="getCompanyForProjectStatics_bak" resultMap="BaseResultMap" parameterType="java.lang.String" >
		SELECT
			a.id,
			company_name,
			company_short_name,
			company_type,
			a.status
		from maoding_web_company a
		LEFT JOIN maoding_web_company_relation b on a.id = b.org_id
		where   a.status='0' and b.org_pid  =#{companyId,jdbcType=VARCHAR}
        UNION (SELECT a.id,
			company_name,
			company_short_name,
			company_type,
			a.status
		from maoding_web_company a
		LEFT JOIN maoding_web_project b on a.id = b.company_id
		LEFT JOIN maoding_web_company_relation c on c.org_id = b.company_id
		 WHERE a.status='0' and b.pstatus = '0' and b.company_bid =#{companyId,jdbcType=VARCHAR}
        and b.company_id !=#{companyId,jdbcType=VARCHAR} and c.org_pid !=#{companyId,jdbcType=VARCHAR})
	</select>

    <select id="getCompanyForProjectStatics" resultMap="BaseResultMap" parameterType="java.lang.String" >
       SELECT DISTINCT a.id,
        company_name,
        company_short_name,
        company_type,
        a.status
        from maoding_web_company a
        LEFT JOIN maoding_web_company_relation b on b.org_id = a.id
        LEFT JOIN maoding_web_project c on a.id = c.company_id
        WHERE a.status='0'
		and (
            b.org_pid  = #{companyId,jdbcType=VARCHAR}
            or(c.pstatus = '0' and c.company_bid = #{companyId,jdbcType=VARCHAR})
		)
		AND a.id != #{companyId,jdbcType=VARCHAR}
    </select>

    <!-- 技术审查费统计(付款方向），技术审查人选项 -->
    <select id="getCompanyForProjectStatics2"  resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT DISTINCT a.id,a.company_name ,a.company_short_name
        from maoding_web_company a
        LEFT JOIN maoding_web_project b on a.id = b.company_id
        where a.status='0' and b.pstatus='0'
        and b.company_bid = #{companyId,jdbcType=VARCHAR}
        and b.company_id != #{companyId,jdbcType=VARCHAR}
    </select>

    <!-- 合作设计费统计(付款方向）-->
    <select id="getCompanyForProjectStatics3_bak20160923"  resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT  a.id,
        case (a.org_type)
              when 0 then (select company_name from maoding_web_company c4 where c4.id = a.id)
              else (select depart_name from maoding_web_depart d1 where d1.id = a.id)  end  as company_name
        from maoding_web_org a
        LEFT JOIN maoding_web_project_task b on a.id = b.to_company
        LEFT JOIN maoding_web_project c on b.project_id = c.id
        where c.pstatus='0'
        AND b.from_company= #{companyId,jdbcType=VARCHAR}
        and b.to_company !=#{companyId,jdbcType=VARCHAR}
        GROUP by a.id
    </select>

    <!-- 合作设计费统计(付款方向） 只查询公司，部门到Controller层拼接-->
    <select id="getCompanyForProjectStatics3"  resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT  a.id,a.company_name ,a.company_short_name
        from maoding_web_company a
        LEFT JOIN maoding_web_project_task b on a.id = b.to_company
        LEFT JOIN maoding_web_project c on b.project_id = c.id
        where c.pstatus='0'
        AND b.from_company= #{companyId,jdbcType=VARCHAR}
        and b.to_company !=#{companyId,jdbcType=VARCHAR}
        GROUP by a.id
    </select>

    <!-- 合作设计费统计(收款方向） -->
    <select id="getCompanyForProjectStatics4"  resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT DISTINCT a.id,a.company_name ,a.company_short_name
        from maoding_web_company a
        LEFT JOIN maoding_web_project_task b on a.id = b.from_company
        LEFT JOIN maoding_web_project c on b.project_id = c.id
        where c.pstatus='0'
        AND b.to_company= #{companyId,jdbcType=VARCHAR}
        and b.from_company !=#{companyId,jdbcType=VARCHAR}
    </select>
</mapper>