<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetPermissionUserMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.role.dto.PermissionDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />

    <!-- 一对多的关系 -->
    <collection property="companyUserList" ofType="com.maoding.org.dto.CompanyUserAppDTO">
      <result column="company_user_id" property="id" jdbcType="VARCHAR" />
      <result column="user_id" property="userId" jdbcType="VARCHAR" />
      <result column="user_name" property="userName" jdbcType="VARCHAR" />
      <result column="file_full_path" property="fileFullPath" jdbcType="VARCHAR" />
      <result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

    <resultMap id="BaseResultMap2" type="com.maoding.role.dto.PermissionDTO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="VARCHAR" />
    </resultMap>

  <!-- 角色-权限 只查询角色对应的权限-->
  <select id="getPermissionByRole2" resultMap="BaseResultMap" parameterType="java.util.Map">
      SELECT
      a.id,
      a. CODE,
      a. NAME,
      a.pid,
      c.id AS company_user_id,
      c.user_name,
      c.user_id,
      c.cellphone,
	  c.file_full_path
    FROM maoding_web_permission a
    LEFT JOIN maoding_web_role_permission b ON a.id = b.permission_id
    LEFT JOIN (
       SELECT
          DISTINCT u.id,
          c.permission_id,
          c.seq,
          u.company_id,
          u.user_id,
          u.user_name,
		  d.cellphone,
		  e.oss_file_path as file_full_path
      FROM maoding_web_user_permission c
      LEFT JOIN  maoding_web_company_user u on   c.user_id = u.user_id AND c.company_id = u.company_id
	  LEFT JOIN maoding_web_account d on u.user_id = d.id
	  LEFT JOIN (<include refid="UserAttachEntityMapper.getHeadImg" /> ) e on d.id = e.user_id and e.attach_type='5'
      WHERE u.company_id=#{companyId}
  ) c ON b.permission_id = c.permission_id
      where a.status='0' and b.role_id=#{roleId} and b.company_id=#{companyId}
      <if test="typeId!=null">
          and (not FIND_IN_SET(#{typeId},b.forbid_relation_type_id) or b.forbid_relation_type_id is null)
      </if>
      order by a.seq,c.seq
  </select>

    <!-- 角色-权限 只查询角色对应的权限 userId-->
    <select id="getPermissionByRoleAndUserForApp" resultMap="BaseResultMap2" parameterType="java.util.Map">
        SELECT
        DISTINCT a.id,
        a.code,
        a.name,
        a.pid
        FROM
        maoding_web_permission a
        LEFT JOIN maoding_web_role_permission b ON a.id = b.permission_id
        LEFT JOIN maoding_web_user_permission c on b.permission_id = c.permission_id
        where a.status='0'
        and b.role_id=#{roleId}
        and b.company_id=#{companyId}
        and c.user_id=#{userId}
        and c.company_id=#{companyId}
        <if test="typeId!=null">
            and (not FIND_IN_SET(#{typeId},b.forbid_relation_type_id) or b.forbid_relation_type_id is null)
        </if>
        order by a.seq
    </select>

</mapper>