<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetImGroupUserMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.org.dto.CompanyUserGroupDTO" >
    <id column="company_id" property="companyId" jdbcType="VARCHAR" />
    <association property="companyName" select="CompanyEntityMapper.getAliasName" fetchType="eager" column="company_id" />
    <collection  property="userList" ofType="com.maoding.org.dto.CompanyUserAppDTO">
    <result column="company_user_id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="file_full_path" property="fileFullPath" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <select id="listCustomerImGroupMember" resultMap="BaseResultMap" parameterType="com.maoding.hxIm.dto.ImGroupMemberQuery" >
    select c.company_id,b.company_user_id,c.user_id,c.user_name, d.oss_file_path AS file_full_path
    from maoding_im_group a
    LEFT JOIN maoding_im_group_member b on a.id = b.group_id
    LEFT JOIN maoding_web_company_user c on b.company_user_id = c.id
    LEFT JOIN (<include refid="UserAttachEntityMapper.getHeadImg" /> ) d on c.user_id = d.user_id and d.attach_type = 5
    where 1=1
    <if test="groupId!=null">
      AND a.group_no = #{groupId,jdbcType=VARCHAR}
    </if>
    <if test="orgId!=null">
      AND a.org_id = #{orgId,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>