<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GetProjectProcessByUserIdMapper">


  <resultMap id="BaseResultMap" type="com.maoding.project.dto.ProjectProcessUserDTO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="task_manage_id" jdbcType="VARCHAR" property="taskManageId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="company_user_id" jdbcType="VARCHAR" property="companyUserId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
  </resultMap>


  <select id="selectByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select a.id,a.process_name,a.company_id,a.project_id,a.task_manage_id,
    group_concat(b.id) as node_id,b.process_id,group_concat(b.node_name order by b.seq)AS node_name,b.seq,b.company_user_id,c.user_name
    from maoding_web_project_process a
    LEFT JOIN maoding_web_project p on a.project_id = p.id
    LEFT JOIN maoding_web_project_process_node b on a.id = b.process_id
    LEFT JOIN maoding_web_company_user c on b.company_user_id = c.id
    LEFT JOIN maoding_web_project_task_manager d on a.task_manage_id = d.id
    where p.pstatus='0' and b.company_user_id = #{companyUserId,jdbcType=VARCHAR} and a.status='0' and d.status='0'
    GROUP BY a.id
    ORDER BY d.create_date DESC , a.project_id
    <if test="startPage!=null">
      LIMIT #{startPage},#{endPage}
    </if>
  </select>

  <select id="selectProessByUserIdGroupByProjectId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select m.project_name,a.id,a.process_name,a.company_id,a.project_id,a.task_manage_id,
    group_concat(b.id) as node_id,b.process_id,group_concat(b.node_name)AS node_name,b.seq,b.company_user_id,c.user_name
    from maoding_web_project_process a
    LEFT JOIN maoding_web_project_process_node b on a.id = b.process_id
    LEFT JOIN maoding_web_company_user c on b.company_user_id = c.id
    LEFT JOIN maoding_web_project m on a.project_id = m.id
    LEFT JOIN maoding_web_project_task_manager d on a.task_manage_id = d.id
    where b.company_user_id = #{companyUserId,jdbcType=VARCHAR} and a.status='0' and d.status='0'
    GROUP BY a.project_id
    ORDER BY a.project_id
  </select>

  <select id="selectCountByUserId" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT  COUNT(1) from ( select a.id
    from maoding_web_project_process a
    LEFT JOIN maoding_web_project p on a.project_id = p.id
    LEFT JOIN maoding_web_project_process_node b on a.id = b.process_id
    LEFT JOIN maoding_web_company_user c on b.company_user_id = c.id
    LEFT JOIN maoding_web_project_task_manager d on a.task_manage_id = d.id
    where p.pstatus='0' and b.company_user_id = #{companyUserId,jdbcType=VARCHAR} and a.status='0' and d.status='0'
    GROUP BY a.id
   ) d
  </select>


  <resultMap id="BaseResultMap2" type="com.maoding.project.dto.ProjectTaskProcessNodeDTO">
    <id column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <!-- 一对多的关系 -->
    <collection property="userList" ofType="com.maoding.org.dto.CompanyUserAppDTO">
      <result column="company_user_id" jdbcType="VARCHAR" property="id" />
      <result column="user_id" jdbcType="VARCHAR" property="userId" />
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
      <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
      <result column="complete_time" jdbcType="VARCHAR" property="completeTime" />
      <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    </collection>
  </resultMap>

  <select id="getProcessNodeUserByCompanyId" parameterType="java.util.Map" resultMap="BaseResultMap2">
    select a.id as node_id,a.node_name,a.company_user_id,d.user_name,d.user_id,d.email,e.cellphone,e.user_name as account_name,
     CONCAT(#{fastdfsUrl,jdbcType=VARCHAR},f.file_group,'/',f.attach_path) as imgUrl
    from maoding_web_project_process_node a
    LEFT JOIN maoding_web_project_process b on a.process_id = b.id
    LEFT JOIN maoding_web_project_task c on b.task_manage_id = c.id
    LEFT JOIN maoding_web_company_user d on a.company_user_id = d.id
    LEFT JOIN maoding_web_account e on d.user_id = e.id
    LEFT JOIN maoding_web_user_attach f on e.id = f.user_id and f.attach_type=5
    where c.project_id=#{projectId,jdbcType=VARCHAR}
    and  c.company_id=#{companyId,jdbcType=VARCHAR}
    and  c.task_status='0'
    and  b.status='0'
    GROUP by node_name,company_user_id
    ORDER by a.seq,a.node_seq
  </select>



  <select id="getProcessNodeByCompanyUser" parameterType="java.util.Map" resultType="java.util.Map">
    select a.node_name as title,
    GROUP_CONCAT(c.task_name) as content
    from maoding_web_project_process_node a
    LEFT JOIN maoding_web_project_process b on a.process_id = b.id
    LEFT JOIN maoding_web_project_task c on b.task_manage_id = c.id
    where c.project_id=#{projectId,jdbcType=VARCHAR}
    and  c.company_id=#{companyId,jdbcType=VARCHAR}
    and  a.company_user_id=#{companyUserId,jdbcType=VARCHAR}
    and  c.task_status='0'
    and  b.status='0'
    GROUP by node_name
    ORDER by a.seq,a.node_seq
  </select>


</mapper>