<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GetProjectFeeMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.project.dto.ProjectFeeDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="point_id" property="pointId" jdbcType="VARCHAR" />
    <result column="point_name" property="pointName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="design_content_id" property="designContentId" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR" />
    <result column="fee_date" property="feeDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="receivable_money" property="receivableMoney" jdbcType="DECIMAL" />
    <result column="payed_money" property="payedMoney" jdbcType="DECIMAL" />
    <result column="invoice_money" property="invoiceMoney" jdbcType="DECIMAL" />


    <result column="manage_fee" property="manageFee" jdbcType="DECIMAL" />
    <result column="manage_paid_fee" property="managePaidFee" jdbcType="DECIMAL" />
    <result column="manage_pay_fee" property="managePayFee" jdbcType="DECIMAL" />

    <result column="contract_design_fee" property="contractDesignFee" jdbcType="DECIMAL" />
    <result column="contract_design_paid_fee" property="contractDesignPaidFee" jdbcType="DECIMAL" />
    <result column="contract_design_pay_fee" property="contractDesignPayFee" jdbcType="DECIMAL" />

    <result column="from_company" jdbcType="VARCHAR" property="fromCompany" />
    <result column="to_company" jdbcType="VARCHAR" property="toCompany" />
    <result column="task_level" jdbcType="VARCHAR" property="taskLevel" />

    <!-- 合同回款，开票创建者 -->
    <result column="create_name" jdbcType="VARCHAR" property="createName" />

  </resultMap>

  <!-- 合同回款，开票-->
  <select id="getProjectFeeDetailByParameter" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select a.point_name, a.receivable_money,a.invoice_money,a.payed_money,
    b.id, b.project_id,b.point_id,b.type, fee, invoice_number, fee_date,b.status, b.remark,c.user_name as create_name
    from maoding_web_project_point a
    LEFT JOIN maoding_web_project_fee b on a.id = b.point_id
    LEFT JOIN maoding_web_company_user c on b.create_by = c.user_id and a.company_id = c.company_id
    where 1=1 and a.status='0' AND b.status='0'
    <if test="projectId != null">
      and a.project_id = #{projectId,jdbcType=VARCHAR}
    </if>
   	<if test="type != null">
    and b.type = #{type,jdbcType=VARCHAR}
    </if>
     order by a.seq, a.create_date,a.point_name,fee_date
  </select>


  <!-- 技术审查费，合作设计费-->
  <select id="getProjectDesignFeeDetailByParameter" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select a.server_name as point_name,a.design_content_id,
    c.from_company,c.to_company,c.task_level,b.id, b.project_id,b.point_id,b.type, fee, fee_date, remark,
    c.contract_design_fee,c.manage_fee,
    (SELECT sum(fee) from maoding_web_project_fee f where type='4' AND f.point_id=a.id) as contract_design_paid_fee,
    (SELECT sum(fee) from maoding_web_project_fee f where type='3' AND f.point_id=a.id) as contract_design_pay_fee,
    (SELECT sum(fee) from maoding_web_project_fee f where type='6' AND f.point_id=a.id) as manage_paid_fee,
    (SELECT sum(fee) from maoding_web_project_fee f where type='5' AND f.point_id=a.id) as manage_pay_fee

    from maoding_web_project_server_content a
    LEFT JOIN maoding_web_project_fee b on a.id = b.point_id
    LEFT JOIN  maoding_web_project_task c on a.id = c.server_content_id
    where 1=1 and a.status='0' AND b.status='0'
    <if test="type=='1'.toString()">
      and(b.type=3 or b.type=4)
    </if>
    <if test="type=='2'.toString()">
      and(b.type=5 or b.type=6)
    </if>
    <if test="companyId!= null">
      and (c.from_company =  #{companyId,jdbcType=VARCHAR} or c.to_company =  #{companyId,jdbcType=VARCHAR} )
    </if>
    and b.point_id in
    <foreach collection="serverContentIds" index="i" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    order by a.create_date,a.server_name,fee_date
  </select>


  <select id="getProjectDesignFeeAmount" resultType="com.maoding.project.dto.ProjectAmountFeeDTO" parameterType="java.lang.String" >
    select a.contract_design_fee as contractDesignFee,a.manage_fee as manageFee,
      (SELECT sum(fee) from maoding_web_project_fee f where type='4' AND f.point_id=a.server_content_id) as contractDesignPaidFee,
      (SELECT sum(fee) from maoding_web_project_fee f where type='3' AND f.point_id=a.server_content_id) as contractDesignPayFee,
      (SELECT sum(fee) from maoding_web_project_fee f where type='6' AND f.point_id=a.server_content_id) as managePaidFee,
      (SELECT sum(fee) from maoding_web_project_fee f where type='5' AND f.point_id=a.server_content_id) as managePayFee
    from maoding_web_project_task a
    where 1=1 and a.status='0' and a.server_content_id = #{serverSontentId,jdbcType=VARCHAR}

  </select>

</mapper>