<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GetProjectProcessByTaskManageIdMapper">


  <resultMap id="BaseResultMap" type="com.maoding.project.dto.ProjectProcessDataDTO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="task_manage_id" jdbcType="VARCHAR" property="taskId" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="current_node_id" jdbcType="VARCHAR" property="currentNodeId" />
    <result column="last_node_id" jdbcType="VARCHAR" property="lastNodeId" />
    <!-- 一对多的关系 -->
    <collection property="nodes" ofType="com.maoding.project.dto.ProjectProcessNodeDataDTO">
      <result column="node_id" property="id" jdbcType="VARCHAR" />
      <result column="process_id" jdbcType="VARCHAR" property="processId" />
      <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
      <result column="seq" jdbcType="INTEGER" property="seq" />
      <result column="company_user_id" jdbcType="VARCHAR" property="companyUserId" />
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
      <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="status" jdbcType="INTEGER" property="status" />
      <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
      <result column="complete_time" jdbcType="VARCHAR" property="completeTime" />
      <result column="user_id" jdbcType="VARCHAR" property="userId" />
    </collection>

  </resultMap>


  <select id="selectByTaskManageId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select a.id,a.process_name,a.company_id,a.project_id,a.task_manage_id,
    f.status as flag,f.current_node_id,f.last_node_id,
    b.id as node_id,b.process_id,b.node_name,b.seq,b.status,b.company_user_id,b.complete_time,
    d.cellphone,c.user_name,c.user_id,c.email,
    CONCAT(#{fastdfsUrl,jdbcType=VARCHAR},e.file_group,'/',e.attach_path) as imgUrl
    from maoding_web_project_process a
    LEFT JOIN maoding_web_project_process_node b on a.id = b.process_id
    LEFT JOIN maoding_web_company_user c on b.company_user_id = c.id
    LEFT JOIN maoding_web_user d on c.user_id = d.id
    LEFT JOIN maoding_web_user_attach e on d.id = e.user_id and e.attach_type=5
    LEFT JOIN maoding_web_project_process_instance f on a.id = f.process_id
    where task_manage_id = #{taskId,jdbcType=VARCHAR}
    <if test="processId!=null"><!-- 如果processId不为空，只查询一条流程，如果为空，则查询所有任务的流程-->
     AND a.id = #{processId,jdbcType=VARCHAR}
    </if>
    and a.status = 0
    order by a.seq, b.seq
  </select>

  <select id="selectDesignNameByTaskManageId" parameterType="java.lang.String" resultType="java.lang.String">
    select GROUP_CONCAT(DISTINCT c.user_name ORDER BY a.seq) as userName
    from maoding_web_project_process a
    LEFT JOIN maoding_web_project_process_node b on a.id = b.process_id
    LEFT JOIN maoding_web_company_user c on b.company_user_id = c.id
    where task_manage_id = #{taskId,jdbcType=VARCHAR} and b.seq='1' and a.status='0'
  </select>

</mapper>