<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProjectPointEntityMapper" >
  <resultMap id="BaseResultMap" type="com.maoding.project.entity.ProjectPointEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="point_name" property="pointName" jdbcType="VARCHAR" />
    <result column="receivable_money" property="receivableMoney" jdbcType="DECIMAL" />
    <result column="payed_money" property="payedMoney" jdbcType="DECIMAL" />
    <result column="invoice_money" property="invoiceMoney" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="DATE" />
    <result column="point_state" property="pointState" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, project_id, company_id, point_name, receivable_money, payed_money, invoice_money, status,
    type,seq,point_state,pay_date, create_date, create_by, update_date, update_by
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maoding_web_project_point
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getPointName" resultType="java.lang.String" parameterType="java.util.Map" >
    select
    point_name
    from maoding_web_project_point a
    LEFT maoding_web_project_cost_point_detail b on a.id = b.
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!-- 删除节点，删除节点下面所以的回款开票记录 -->
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from maoding_web_project_point
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.maoding.project.entity.ProjectPointEntity" >
    insert into maoding_web_project_point (id, project_id, company_id, 
      point_name, receivable_money, payed_money, 
      invoice_money, type, point_state,pay_date,seq,status,
      create_date, create_by, update_date, update_by
      )
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{pointName,jdbcType=VARCHAR}, #{receivableMoney,jdbcType=DECIMAL}, #{payedMoney,jdbcType=DECIMAL}, 
      #{invoiceMoney,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR},  #{pointState,jdbcType=VARCHAR}, 
       #{payDate,jdbcType=DATE}, #{seq,jdbcType=INTEGER},'0',
      now(), #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateById" parameterType="com.maoding.project.entity.ProjectPointEntity" >
    update maoding_web_project_point
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="pointName != null" >
        point_name = #{pointName,jdbcType=VARCHAR},
      </if>
       <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="receivableMoney != null" >
        receivable_money = #{receivableMoney,jdbcType=DECIMAL},
      </if>
      <if test="payedMoney != null" >
        payed_money = #{payedMoney,jdbcType=DECIMAL},
      </if>
      <if test="invoiceMoney != null" >
        invoice_money = #{invoiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>

      <if test="seq != null and seq!=0" >
        seq = #{seq,jdbcType=INTEGER},
      </if>

       <if test="pointState != null and pointState=='1'.toString()" >
        point_state =  #{pointState,jdbcType=VARCHAR},
         pay_date = #{payDate,jdbcType=DATE},
       </if>

      <if test="pointState != null and pointState=='0'.toString()" >
        point_state =  #{pointState,jdbcType=VARCHAR},
        pay_date = null,
      </if>

        update_date = now(),
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.maoding.project.entity.ProjectPointEntity" >
    update maoding_web_project_point
    set project_id = #{projectId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      point_name = #{pointName,jdbcType=VARCHAR},
      receivable_money = #{receivableMoney,jdbcType=DECIMAL},
      payed_money = #{payedMoney,jdbcType=DECIMAL},
      invoice_money = #{invoiceMoney,jdbcType=DECIMAL},
      type = #{type,jdbcType=VARCHAR},
      point_state =  #{pointState,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=DATE}, 
      seq = #{seq,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      update_date = now(),
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByProjectId" parameterType="java.lang.String" >
    delete from maoding_web_project_point
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>

  <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM maoding_web_project_point
    WHERE project_id = #{projectId,jdbcType=VARCHAR} and status='0'
    order by seq,create_date
  </select>

  <select id="selectByProjectIdFilterIds" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM maoding_web_project_point
    WHERE project_id = #{projectId,jdbcType=VARCHAR} 
    <if test="idList != null">
	    AND id NOT IN 
	   	<foreach collection="idList" index="index" item="id" open="(" separator="," close=")" >
			 #{id}
		 </foreach>    
    </if>
  </select>

  <select id="selPrpShoufu" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT
		a.id, a.project_id, a.company_id, a.point_name, a.receivable_money,a.type,a.created_by, a.created_date
	FROM
		maoding_web_project_point a
	WHERE
		a.type = 1
	AND a.project_id = #{projectId,jdbcType=VARCHAR}  
  </select>

  <select id="getProjectPointMaxSeq" resultType="java.lang.Integer" parameterType="java.lang.String">
    select COUNT(1)+1 from maoding_web_project_point where project_id = #{projectId,jdbcType=VARCHAR}
  </select>
</mapper>